.hide {
    display: none; 
}

body {
    color: #7491A9;
    background-color: #2B5171;
    font-family: sans-serif
}

#gameStatus {
    text-align: center
}

.board {
    background-color: #05233C;
    margin: auto;
    width: 364px;
    height: 312px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: solid 10px #153A58;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

.emptyBox {
    height: 50px;
    width: 50px;
    border: solid 1px #153A58;
    box-shadow: 1px 1px 2px #2B5171;
}

.redBox {
    height: 50px;
    width: 50px;
    border: solid 1px #153A58;
    background-color: #EC0033;
    box-shadow: 1px 1px 2px #2B5171;
    border-radius: 50%;
}

.yellowBox {
    height: 50px;
    width: 50px;
    border: solid 1px #153A58;
    background-color: #FFEB00;
    box-shadow: 1px 1px 2px #2B5171;
    border-radius: 50%;
}

h1 {
    padding-top: 20px;
    margin: auto;
    text-align: center;
    color: whitesmoke
}

#buttonLocation {
    padding-top: 10px;
    text-align: center
}

.lowOpacity {
    opacity: 0.3
}